<?xml version="1.0"?>
<!--
/**
 * Total Metrica
 *
 * @category    Modulo de parcelamento
 * @package     TotalMetrica_Parcelamento
 * @author      César Martins <cesar@totalmetrica.com>
 */
-->
<config>
    <modules>
        <TotalMetrica_Parcelamento>
            <version>0.1.1</version>
        </TotalMetrica_Parcelamento>
    </modules>
    <frontend>
        <routers>
            <parcelamento>
                <use>standard</use>
                <args>
                    <module>TotalMetrica_Parcelamento</module>
                    <frontName>parcelamento</frontName>
                </args>
            </parcelamento>
        </routers>
        <layout>
            <updates>
                <parcelamento>
                    <file>parcelamento.xml</file>
                </parcelamento>
            </updates>
        </layout>
        <translate>
            <modules>
                <TotalMetrica_Parcelamento>
                    <files>
                        <default>TotalMetrica_Parcelamento.csv</default>
                    </files>
                </TotalMetrica_Parcelamento>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <parcelamentoadmin>
                <use>admin</use>
                <args>
                    <module>TotalMetrica_Parcelamento</module>
                    <frontName>parcelamentoadmin</frontName>
                </args>
            </parcelamentoadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <parcelamento>
                    <file>parcelamento.xml</file>
                </parcelamento>
            </updates>
        </layout>
        <translate>
            <modules>
                <TotalMetrica_Parcelamento>
                    <files>
                        <default>TotalMetrica_Parcelamento.csv</default>
                    </files>
                </TotalMetrica_Parcelamento>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <parcelamento>
                <class>TotalMetrica_Parcelamento_Model</class>
                <resourceModel>parcelamento_mysql4</resourceModel>
            </parcelamento>
            <parcelamento_mysql4>
                <class>TotalMetrica_Parcelamento_Model_Mysql4</class>
                <entities>
                    <parcelamento>
                        <table>parcelamento</table>
                    </parcelamento>
                </entities>
            </parcelamento_mysql4>
        </models>
        <resources>
            <parcelamento_setup>
                <setup>
                    <module>TotalMetrica_Parcelamento</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </parcelamento_setup>
            <parcelamento_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </parcelamento_write>
            <parcelamento_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </parcelamento_read>
        </resources>
        <blocks>
            <parcelamento>
                <class>TotalMetrica_Parcelamento_Block</class>
            </parcelamento>
        </blocks>
        <helpers>
            <parcelamento>
                <class>TotalMetrica_Parcelamento_Helper</class>
            </parcelamento>
        </helpers>
        <!-- <events>
            <controller_action_predispatch>
                <observers>
                    <parcelamento_observers>
                        <class>parcelamento/observer</class>
                        <method>controllerActionPredispatch</method>
                    </parcelamento_observers>
                </observers>
            </controller_action_predispatch>
        </events> -->
    </global>
</config>