<?xml version="1.0" ?>
<config>
    <modules>
        <Webkul_MobiKul>
            <version>3.1.2</version>
        </Webkul_MobiKul>
    </modules>
    <global>
        <helpers>
            <mobikul>
                <class>Webkul_MobiKul_Helper</class>
            </mobikul>
        </helpers>
        <blocks>
            <mobikul>
                <class>Webkul_MobiKul_Block</class>
            </mobikul>
        </blocks>
        <models>
            <mobikul>
                <class>Webkul_MobiKul_Model</class>
                <resourceModel>mobikul_mysql4</resourceModel>
            </mobikul>
            <mobikul_mysql4>
                <class>Webkul_MobiKul_Model_Mysql4</class>
                <entities>
                    <bannerimage>
                        <table>mobikul_bannerimage</table>
                    </bannerimage>
                    <notification>
                        <table>mobikul_notification</table>
                    </notification>
                    <featuredcategories>
                        <table>mobikul_featuredcategories</table>
                    </featuredcategories>
                    <userimage>
                        <table>mobikul_userimage</table>
                    </userimage>
                    <categoryimages>
                        <table>mobikul_categoryimages</table>
                    </categoryimages>
                    <devicetoken>
                        <table>mobikul_devicetoken</table>
                    </devicetoken>
                    <customermobile>
                        <table>mobikul_customer_mobile</table>
                    </customermobile>
                </entities>
            </mobikul_mysql4>
        </models>
        <resources>
            <mobikul_setup>
                <setup>
                    <module>Webkul_MobiKul</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobikul_setup>
            <mobikul_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobikul_write>
            <mobikul_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobikul_read>
        </resources>
        <template>
            <email>
                <random_generated_password_mail>
                    <label>Mail Random Password to Customer When Login through social network</label>
                    <file>mobikul/random_generated_password.html</file>
                    <type>html</type>
                </random_generated_password_mail>
            </email>
        </template>
        <events>
            <customer_delete_commit_after>
        				<observers>
          					<Webkul_MobiKul_Model_Events_Observer>
          						<class>Webkul_MobiKul_Model_Events_Observer</class>
          						<method>deleteCustomer</method>
          					</Webkul_MobiKul_Model_Events_Observer>
        				</observers>
      			</customer_delete_commit_after>

            <sales_order_save_after>
                <observers>
                   <Webkul_MobiKul_Model_Events_Observer>
                      <type>singleton</type>
                      <class>Webkul_MobiKul_Model_Events_Observer</class>
                      <method>OrderStatusNotification</method>
                   </Webkul_MobiKul_Model_Events_Observer>
               </observers>
            </sales_order_save_after>
            <customer_save_after>
                <observers>
                   <Webkul_MobiKul_Model_Events_Observer>
                      <type>singleton</type>
                      <class>Webkul_MobiKul_Model_Events_Observer</class>
                      <method>customerSaveAfter</method>
                   </Webkul_MobiKul_Model_Events_Observer>
               </observers>
            </customer_save_after>
            <customer_register_success>
                <observers>
                   <Webkul_MobiKul_Model_Events_Observer>
                      <type>singleton</type>
                      <class>Webkul_MobiKul_Model_Events_Observer</class>
                      <method>customerRegister</method>
                   </Webkul_MobiKul_Model_Events_Observer>
               </observers>
            </customer_register_success>
            <adminhtml_customer_save_after>
                <observers>
                   <Webkul_MobiKul_Model_Events_Observer>
                      <type>singleton</type>
                      <class>Webkul_MobiKul_Model_Events_Observer</class>
                      <method>adminCustomerSaveAfter</method>
                   </Webkul_MobiKul_Model_Events_Observer>
               </observers>
            </adminhtml_customer_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <mobikul>
                <use>admin</use>
                <args>
                    <module>Webkul_MobiKul</module>
                    <frontName>mobikul</frontName>
                </args>
            </mobikul>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mobikul>
                <title>Mobikul</title>
                <sort_order>100</sort_order>
                <children>
                    <banner_images>
                        <title>Add/Manage Banner Images</title>
                        <sort_order>1</sort_order>
                        <action>mobikul/adminhtml_bannerimage</action>
                    </banner_images>
                    <notification_alert>
                        <title>Add/Manage Notifications</title>
                        <sort_order>2</sort_order>
                        <action>mobikul/adminhtml_notification</action>
                    </notification_alert>
                    <featured_categories>
                        <title>Featured Categories</title>
                        <sort_order>3</sort_order>
                        <action>mobikul/adminhtml_featuredcategories</action>
                    </featured_categories>
                    <categories_bannernimages>
                        <title>Add/Manage Category's Banners n Images</title>
                        <sort_order>4</sort_order>
                        <action>mobikul/adminhtml_categoryimages</action>
                    </categories_bannernimages>
                    <config>
                        <title>Mobikul Configuration</title>
                        <sort_order>5</sort_order>
                        <action>adminhtml/system_config/edit/section/mobikul</action>
                    </config>
                </children>
            </mobikul>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <mobikul>
                            <title>Mobikul</title>
                            <sort_order>100</sort_order>
                            <children>
                                <banner_images>
                                    <title>Add/Manage Banner Images</title>
                                    <sort_order>1</sort_order>
                                    <action>mobikul/adminhtml_bannerimage</action>
                                </banner_images>
                                <notification_alert>
                                    <title>Add/Manage Notifications</title>
                                    <sort_order>2</sort_order>
                                    <action>mobikul/adminhtml_notification</action>
                                </notification_alert>
                                <featured_categories>
                                    <title>Featured Categories</title>
                                    <sort_order>3</sort_order>
                                    <action>mobikul/adminhtml_featuredcategories</action>
                                </featured_categories>
                                <categories_bannernimages>
                                    <title>Add/Manage Category's Banners n Images</title>
                                    <sort_order>4</sort_order>
                                    <action>mobikul/adminhtml_categoryimages</action>
                                </categories_bannernimages>
                                <config>
                                    <title>Mobikul Configuration</title>
                                    <sort_order>5</sort_order>
                                    <action>adminhtml/system_config/edit/section/mobikul</action>
                                </config>
                            </children>
                        </mobikul>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mobikul>
                                            <title>Mobikul Configuration</title>
                                            <sort_order>1</sort_order>
                                        </mobikul>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mobikul>
                    <file>mobikul.xml</file>
                </mobikul>
            </updates>
        </layout>
        <translate>
            <modules>
                <webkul_mobikul>
                    <files>
                        <mobikul>mobikul.csv</mobikul>
                    </files>
                </webkul_mobikul>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <webkul_mobikul>
                    <files>
                        <mobikul>mobikul.csv</mobikul>
                    </files>
                </webkul_mobikul>
            </modules>
        </translate>
        <routers>
            <mobikul>
                <use>standard</use>
                <args>
                    <module>Webkul_MobiKul</module>
                    <frontName>mobikulhttp</frontName>
                </args>
            </mobikul>
        </routers>
        <layout>
            <updates>
                <mobikul>
                    <file>mobikul.xml</file>
                </mobikul>
            </updates>
        </layout>
    </frontend>
    <default>
        <mobikul>
            <configuration>
                <apiusername><![CDATA[mobikul]]></apiusername>
                <apikey><![CDATA[mobikul123]]></apikey>
                <pagesize><![CDATA[10]]></pagesize>
            </configuration>
            <basic>
                <featuredproduct><![CDATA[1]]></featuredproduct>
                <enable_mobile_login><![CDATA[0]]></enable_mobile_login>
            </basic>
            <searchsuggestion>
                <display_tag><![CDATA[1]]></display_tag>
                <tag>5</tag>
                <display_product><![CDATA[1]]></display_product>
                <product>5</product>
            </searchsuggestion>
        </mobikul>
    </default>
</config>
