<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Idnovate_WhatsAppChat>
			<version>1.0.2</version>
		</Idnovate_WhatsAppChat>
	</modules>
	<global>
		<blocks>
			<idnovate_whatsappchat>
				<class>Idnovate_WhatsAppChat_Block</class>
			</idnovate_whatsappchat>
		</blocks>
		<helpers>
			<whatsappchat>
				<class>Idnovate_WhatsAppChat_Helper</class>
			</whatsappchat>
		</helpers>
		<models>
			<idnovate_whatsappchat>
				<class>Idnovate_WhatsAppChat_Model</class>
			</idnovate_whatsappchat>
		</models>
		<resources>
			<idnovate_whatsappchat_setup>
				<setup>
					<module>Idnovate_WhatsAppChat</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idnovate_whatsappchat_setup>
		</resources>
	</global>
	<frontend>
	    <layout>
	        <updates>
	            <idnovate_whatsappchat>
	                <file>idnovate_whatsappchat.xml</file>
	            </idnovate_whatsappchat>
	        </updates>
	    </layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<idnovate_whatsappchat>
					<file>idnovate_whatsappchat.xml</file>
				</idnovate_whatsappchat>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<idnovate_whatsappchat>
											<title>WhatsApp Chat</title>
											<sort_order>1000</sort_order>
										</idnovate_whatsappchat>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<idnovate_whatsappchat>
					<files>
						<default>Idnovate_WhatsAppChat.csv</default>
					</files>
				</idnovate_whatsappchat>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<idnovate_whatsappchat>
			<general>
				<enabled>0</enabled>
				<color>25D366</color>
			</general>
			<filters>
				<pages>home,category,product,cart,checkout,contact,cms,customer,search,all</pages>
			</filters>
		</idnovate_whatsappchat>
	</default>
</config>