/*Slide show*/
@media @tablet_vertical{
	.sstext-4x,
	.sstext-5x{
		font-size: 22px;
	}
}
@media (min-width: @screen-md-max){
	.sstext-4x{
		font-size: 32px;
	}
	.sstext-5x{
		font-size: 47px
	}
}
@media @screen-xs-max{
	.sstext-4x,
	.sstext-5x{
		font-size: 16px;
	}
}
.cdz-slideshow {
	img{
		.abs-borderradius(5px)
	}
	.button-link{
	    text-transform: capitalize;
	    padding: 7px 45px;
	    .abs-borderradius(@btn_radius);
	    &:hover{
	    	.abs-style(#ffffff, #000000 , #000000) !important;
	    }
	}	
}

/*Title*/
.cdz-block-title {
	margin-bottom: 10px;
}
.box-cate-style02{
	.cdz-block-title {
		margin-bottom: 10px;
	}
}
.brand-style01{
	.cdz-block-title {
		margin-bottom: 10px;
	}
	.shop-by-brand-slider.style-default .brand-item{
		margin-bottom: 0
	}
}

@media @tablet_strict{
	[class*='brand-style'] .owl-nav {
	    display: none;
	}
}
@media @phone{
	.cdz-slideshow .button-link{
		padding: 2px 20px;
	}
}

/*Genneral*/
[class*='post-list-style'],
[class*='product-list-style']{
	@media @desktop{
		.slider-arrow-style-10(); /*wrapper-product*/
	}
}
.list.products-list{	
	.cdz-product-labels{
		.prolabels-style02();
	}
}
[class*='brand-style']{
	@media @desktop{
		.slider-arrow-style-10();
		.owl-nav [class *='owl-']{
			&.owl-next,
			&.owl-prev{
				.abs-borderradius(100%);
			}
		}				
	}
}

/*Category*/
.sidebar .block:not(.account-nav){
	.block-style02();	
}
.toolbar{
	.toolbar-option3();
}

