<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Customaddress
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
 -->
<config>
    <modules>
        <Dexxtz_Customaddress>
            <version>1.0.0</version>
        </Dexxtz_Customaddress>
    </modules>
    <frontend>
		<routers>
            <customaddress>
                <use>admin</use>
                <args>
                    <module>Dexxtz_Customaddress</module>
                    <frontName>customaddress</frontName>
                </args>
            </customaddress>
		</routers>
        <translate>
            <modules>
                <Dexxtz_Customaddress>
                    <files>
                        <default>Dexxtz_Customaddress.csv</default>
                    </files>
                </Dexxtz_Customaddress>
            </modules>
        </translate>
		<layout>
            <updates>
                <customaddress>
                    <file>dexxtz/customaddress.xml</file>
                </customaddress>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
            <customaddress>
                <use>admin</use>
                <args>
                    <module>Dexxtz_Customaddress</module>
                    <frontName>customaddress</frontName>
                </args>
            </customaddress>
		</routers>
	</admin>
    <adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dexxtz_customaddress translate="title" module="customaddress">
                                            <title>Dexxtz Customaddress</title>
                                            <sort_order>50</sort_order>
                                        </dexxtz_customaddress>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Dexxtz_Customaddress>
                    <files>
                        <default>Dexxtz_Customaddress.csv</default>
                    </files>
                </Dexxtz_Customaddress>
			<customaddress_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </customaddress_write>
            <customaddress_read>
				<connection>
					<use>core_read</use>
				</connection>
            </customaddress_read>
            </modules>
        </translate>
		<layout>
            <updates>
                <customaddress>
                    <file>dexxtz/customaddress.xml</file>
                </customaddress>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <resources>
			<dexxtz_customaddress_setup>
				<setup>
					<module>Dexxtz_Customaddress</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</dexxtz_customaddress_setup>
		</resources>
        <blocks>
            <dexxtz_customaddress>
                <class>Dexxtz_Customaddress_Block</class>
            </dexxtz_customaddress>
        </blocks>
        <models>
            <dexxtz_customaddress>
                <class>Dexxtz_Customaddress_Model</class>
            </dexxtz_customaddress>
        </models>
        <helpers>
            <customaddress>
                <class>Dexxtz_Customaddress_Helper</class>
            </customaddress>
        </helpers>
    </global>
    <default>
        <dexxtz_customaddress>
            <general>
                <active>1</active>
				<address_autocomplete>1</address_autocomplete>
				<telephone_mask>1</telephone_mask>
				<zip_mask>1</zip_mask>
            </general>
			<show_fields>
				<zip_link>1</zip_link>
			</show_fields>
        </dexxtz_customaddress>
    </default>
</config>