/* ============ General Sidebar ============ */
.cdz-sidebar{
    position: absolute;
    width: 320px;
    height: 100%;
    top: 0;
    background-color: #FFF;
    z-index: 888;
    overflow: auto;
    display: none;
    &.md-sidenav-left{
        left: -320px;
        right: auto;
		.rtl-layout &{
			left: auto;
			right: -320px;
		}
    }
    &.md-sidenav-right{
        left: auto;
        right: -320px;
		.rtl-layout &{
			left: -320px;
			right: auto;
			direction: ltr;
			.utilies-sections{
				direction: rtl;
			}
		}
    }
}
.cdz-sidebar-backface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    z-index: 887;
    opacity: 0;
}

body{
    right: 0;
    left: 0;
}
.cdz-panel-open-right, .cdz-panel-open-left{
    body{
        position: relative;
        right: 320px;
        left: auto;
        .abs-transition(~'right ease 300ms');
        overflow: hidden;
		&.rtl-layout{
			right: auto;
			left: 320px;
			.abs-transition(~'left ease 300ms');
		}
    }
    .sticky-menu.active{
        right: 320px;
        left: auto;
        .abs-transition(~'right ease 300ms');
		.rtl-layout &{
			right: auto;
			left: 320px;
			.abs-transition(~'left ease 300ms');
		}
    }
    .cdz-sidebar-backface{
        visibility: visible;
        opacity: 1;
        .abs-transition(~'opacity ease 300ms');
    }
}
.cdz-panel-open-left{
    body{
        right: auto;
        left: 320px;
        .abs-transition(~'left ease 300ms');
		&.rtl-layout{
			right: 320px;
			left: auto;
			.abs-transition(~'right ease 300ms');
		}
    }
    .sticky-menu.active{
        right: auto;
        left: 320px;
        .abs-transition(~'left ease 300ms');
		.rtl-layout &{
			right: 320px;
			left: auto;
			.abs-transition(~'right ease 300ms');
		}
    }
}
.cdz-panel-close-right, .cdz-panel-close-left{
    body{
        position: relative;
        right: 0px;
        left: auto;
        .abs-transition(~'right ease 300ms');
        overflow: hidden;
		&.rtl-layout{
			right: auto;
			left: 0;
			.abs-transition(~'left ease 300ms');
		}
    }
    .sticky-menu.active{
        right: 0px;
        left: auto;
        .abs-transition(~'right ease 300ms');
		.rtl-layout &{
			right: auto;
			left: 0;
			.abs-transition(~'left ease 300ms');
		}
    }
    .cdz-sidebar-backface{
        opacity: 0;
        .abs-transition(~'opacity ease 300ms');
    }
}
.cdz-panel-close-left{
    body{
        right: auto;
        left: 0;
        .abs-transition(~'left ease 300ms');
		&.rtl-layout{
			right: 0px;
			left: auto;
            .abs-transition(~'right ease 300ms');
		}
    }
}
.md-sidenav-left, .md-sidenav-right{
    width: 320px;
}
/*Fix scroll iphone*/
html.cdz-panel-open-left, .cdz-panel-open-left body,
html.cdz-panel-open-right, .cdz-panel-open-right body,
html.nav-before-open, .nav-before-open body {
    /*overflow: hidden;
    position: relative;
    height: 100%;*/
}
@media(max-width: @screen-xs-max) {
    .cdz-sidebar{
        display: none;
    }
}
.cdz-panel-open-right,
.cdz-panel-open-left{
	.cdz-sidebar{
		display: inline;
	}
}
/* ============ End General Sidebar ============ */
.cdz-menu{
	&.cdz-toggle-menu{
		.dropdown-toggle{
			&:before{
				.abs-iconfont2('\e9b4', 14px);
				width: 40px;
				height: 40px;
				line-height: 40px;
				.rtl-layout &{
					content: '\e9b4';
				}
			}
			.rtl-layout &{
				right: auto;
				left: 0;
				&:before{margin-top:0 !important}
			}		
		}
		.item.level-top{
			margin-bottom: 0;
			> .menu-link{
				text-transform: uppercase;
				border-bottom: 1px solid @menu_drop_border;
				.abs-link(@menu_drop_text, @menu_drop_hover_text);
			}
		}
		.item.level-top > .dropdown-toggle:before{
			margin-top: 0;
		}
		li.item.open > .dropdown-toggle:before, 
		li.item .cdz-tab-link.active + .dropdown-toggle:before{
			content: '\e9b3';
			-moz-transform: rotate(0);
			-o-transform: rotate(0);
			transform: rotate(0);
			.rtl-layout &{
				content: '\e9b3';
			}
		}
		.item.level-top > .groupmenu-drop{
			border: 0;
			padding-left: 20px;
			padding-right: 0;
			.rtl-layout &{
				padding-left: 0;
				padding-right: 20px;
			}
		}
		.groupmenu-drop li.item.parent .groupmenu-drop{
			padding-top: 0;
			.rtl-layout &{
				padding-left: 0;
				padding-right: 20px;
			}
		}
		.groupmenu-drop{		
			li.item{
				padding-top: 0;
				padding-bottom: 0;
				a{
					text-transform: uppercase;
					padding: 10px 0;
					.abs-link(@menu_drop_text, @menu_drop_hover_text);
				}
			}
		}
	}
}

.cdz-sidebar{
	/*wishlist*/
	.mini-wishlist-container{
		.block-wishlist{
			padding: 0
		}
		.block .block-top{
			padding: 20px;
		}
		.block-wishlist .block-content li.item{
			border-bottom: 0
		}
	}
	/*mini cart*/
	.mini-cart-container{	    
		.cart-summary {			    
		    position: fixed;
		    width: 100%;
		    bottom: 0;
		    max-width: 320px;
		    z-index: 2;
		}
		.block-title{
			margin-bottom: 0;
			border-top:0;
		}
		.block-content{
			height: 100%;
	    	max-height: ~'calc(100vh - 160px)';
	    	overflow: auto;
	    	margin-top:0;
		}
		.mini-products-list li.item{
			margin: 0;
			padding: 10px 20px;
		}
		.minicart-message {
		    background: #f5f5cb;
		    padding: 5px; 
		    &#minicart-success-message{
		    	color: #008000;	
		    }
		    &#minicart-error-message{
		    	color: #ff0000;	
		    }
		}
	}
	/*account*/
	.mini-account-container .account-info-summary .info-summary-top{
		padding: 10px 20px;
		&:before{
			display:none;
		}
	}
}
@media(max-width: 360px) {
	.cdz-sidebar{
		width: 280px;
		&.md-sidenav-left{
			left: -280px;
			right: auto;
			.rtl-layout &{
				left: auto;
				right: -280px;
			}
		}
		&.md-sidenav-right{
			left: auto;
			right: -280px;
			.rtl-layout &{
				left: -280px;
				right: auto;
			}
		}
		/*mini cart*/
		.mini-cart-container{	    
			.cart-summary {	
				max-width: 280px;
			}	
		}
	}
	.cdz-panel-open-right, .cdz-panel-open-left{
		body{
			right: 280px;
			left: auto;
			&.rtl-layout{
				right: auto;
				left: 280px;
			}
		}
		.sticky-menu.active{
			right: 280px;
			left: auto;
			.rtl-layout &{
				right: auto;
				left: 280px;
			}
		}
	}
	.cdz-panel-open-left{
		body{
			right: auto;
			left: 280px;
			&.rtl-layout{
				right: 280px;
				left: auto;
				
			}
		}
		.sticky-menu.active{
			right: auto;
			left: 280px;
			
			.rtl-layout &{
				right: 280px;
				left: auto;
				
			}
		}
	}
}
@media screen and (min-width:@screen-sm-min) and (max-width:@screen-md-max){
	.cdz-sidebar{
		display: none;
	}
	.cdz-panel-open-right,
	.cdz-panel-open-left{
		.cdz-sidebar{
			display: inline;
		}
	}
}

.cdz-sidebar{
    .mini-wishlist-container{
        .wishlist-empty{padding: 0px 10px;}
    }
}

@media(min-width: @screen-xs-max) {
    .cdz-panel-open-right, .cdz-panel-open-left{
        .page-header .sticky-menu.active{
            right: 320px;
            left: auto;
            .abs-transition(~'right ease 300ms');
            .rtl-layout &{
                right: auto;
                left: 320px;
                .abs-transition(~'left ease 300ms');
            }
        }
    }
    .cdz-panel-open-left{
        .page-header .sticky-menu.active{
            right: auto;
            left: 320px;
            .abs-transition(~'left ease 300ms');
            .rtl-layout &{
                right: 320px;
                left: auto;
                .abs-transition(~'right ease 300ms');
            }
        }
    }
}