<?xml version="1.0"?>

<config>
    <modules>
        <Ave_SizeChart>
            <version>1.2.22</version>
        </Ave_SizeChart>
    </modules>
    <global>
        <resources>
            <ave_sizechart_setup>
                <setup>
                    <module>Ave_SizeChart</module>
                    <class>Ave_SizeChart_Model_Resource_Setup</class>
                </setup>
            </ave_sizechart_setup>
        </resources>
        <blocks>
            <ave_sizechart>
                <class>Ave_SizeChart_Block</class>
            </ave_sizechart>
        </blocks>
        <helpers>
            <ave_sizechart>
                <class>Ave_SizeChart_Helper</class>
            </ave_sizechart>
        </helpers>
        <models>
            <ave_sizechart>
                <class>Ave_SizeChart_Model</class>
                <resourceModel>ave_sizechart_resource</resourceModel>
            </ave_sizechart>
            <ave_sizechart_resource>
                <class>Ave_SizeChart_Model_Resource</class>
                <entities>
                    <chart>
                        <table>ave_sizechart_chart</table>
                    </chart>
                    <category>
                        <table>ave_sizechart_category</table>
                    </category>
                    <dimension>
                        <table>ave_sizechart_dimension</table>
                    </dimension>
                    <size>
                        <table>ave_sizechart_size</table>
                    </size>
                    <type>
                        <table>ave_sizechart_type</table>
                    </type>
                    <member>
                        <table>ave_sizechart_member</table>
                    </member>
                    <member_measure>
                        <table>ave_sizechart_member_measure</table>
                    </member_measure>
                    <eav_attribute>
                        <table>ave_sizechart_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </ave_sizechart_resource>
        </models>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <ave_dimensions />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <catalog_category_save_commit_after>
                <observers>
                    <ave_sizechart_observer>
                        <type>singleton</type>
                        <class>Ave_SizeChart_Model_Observer</class>
                        <method>saveCategoryData</method>
                    </ave_sizechart_observer>
                </observers>
            </catalog_category_save_commit_after>
        </events>
        <fieldsets>
            <sales_convert_quote_item>
                <ave_dimensions>
                    <to_order_item>*</to_order_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_cm_item>*</to_cm_item>
                    <to_shipment_item>*</to_shipment_item>
                </ave_dimensions>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <ave_dimensions>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_cm_item>*</to_cm_item>
                    <to_shipment_item>*</to_shipment_item>
                </ave_dimensions>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <ave_sizechart>
                    <file>ave/sizechart.xml</file>
                </ave_sizechart>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ave_SizeChart>
                    <files>
                        <default>Ave_SizeChart.csv</default>
                    </files>
                </Ave_SizeChart>
            </modules>
        </translate>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <ave_sizechart_observer>
                        <class>ave_sizechart/observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </ave_sizechart_observer>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <routers>
            <sizechart>
                <use>standard</use>
                <args>
                    <module>Ave_SizeChart</module>
                    <frontName>sizechart</frontName>
                </args>
            </sizechart>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ave_sizechart>
                    <file>ave/sizechart.xml</file>
                </ave_sizechart>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ave_SizeChart>
                    <files>
                        <default>Ave_SizeChart.csv</default>
                    </files>
                </Ave_SizeChart>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ave_SizeChart before="Mage_Adminhtml">Ave_SizeChart_Adminhtml</Ave_SizeChart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <ave_sizechart>
            <general>
                <icon>sizechart-btn.png</icon>
                <show_in_cart>0</show_in_cart>
            </general>
        </ave_sizechart>
    </default>
</config>
