<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Codazon_Megamenupro>
			<version>0.1.0</version>
		</Codazon_Megamenupro>
	</modules>
	<global>
		<helpers>
			<megamenupro>
				<class>Codazon_Megamenupro_Helper</class>
			</megamenupro>
		</helpers>
		<blocks>
			<megamenupro>
				<class>Codazon_Megamenupro_Block</class>
			</megamenupro>
		</blocks>
		<models>
			<megamenupro>
				<class>Codazon_Megamenupro_Model</class>
				<resourceModel>megamenupro_mysql4</resourceModel>
			</megamenupro>
			<megamenupro_mysql4>
				<class>Codazon_Megamenupro_Model_Mysql4</class>
				<entities>
					<megamenupro>
						<table>codazon_megamenu</table>
					</megamenupro>
				</entities>
			</megamenupro_mysql4>
		</models>
		<resources>
			<megamenupro_setup>
				<setup>
					<module>Codazon_Megamenupro</module>
				</setup>
			</megamenupro_setup>
			<megamenupro_write>
				<connection>
					<use>core_write</use>
				</connection>
			</megamenupro_write>
			<megamenupro_read>
				<connection>
					<use>core_read</use>
				</connection>
			</megamenupro_read>
		</resources>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <megamenupro after="Mage_Adminhtml">Codazon_Megamenupro_Adminhtml</megamenupro>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<menu>
            <codazon>
                <title>Codazon</title>
                <sort_order>200</sort_order>
                <children>
                    <megamenupro module="megamenupro">
                        <title>Megamenu Pro</title>
                        <sort_order>100</sort_order>
                        <action>adminhtml/megamenupro_index/index</action>
                    </megamenupro>
                </children>
            </codazon>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<megamenupro translate="title" module="megamenupro">
							<title>Megamenupro</title>
							<sort_order>120</sort_order>
						</megamenupro>
						<!--system>
							 <children>
								<config>
									<children>
										<codazon_megamenupro translate="title" module="megamenupro">
											<title>Mega Menu Pro Settings</title>
											<sort_order>999</sort_order>
										</codazon_megamenupro>
									</children>
								</config>
							</children>
						</system-->
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<megamenupro>
					<file>codazon_megamenupro.xml</file>
				</megamenupro>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<routers>
			<front_megamenupro>
				<use>standard</use>
				<args>
					<module>Codazon_Megamenupro</module>
					<frontName>megamenupro</frontName>
				</args>
			</front_megamenupro>
		</routers>
		<layout>
			<updates>
				<megamenupro>
					<file>codazon_megamenupro.xml</file>
				</megamenupro>
			</updates>
		</layout>
	</frontend>
	<default>
		<codazon_megamenupro>
			<general>                
				<disable_default_menu>1</disable_default_menu>
				<used_megamenu>horizontal-main-menu</used_megamenu>
				<active_rtl>0</active_rtl>
			</general>      
		</codazon_megamenupro>
	</default>
</config>