<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Codazon_Blogfeatures>
			<version>0.1.0</version>
		</Codazon_Blogfeatures>
	</modules>
	<frontend>
		<routers>
			<blogfeatures>
				<use>standard</use>
				<args>
					<module>Codazon_Blogfeatures</module>
					<frontName>blogfeatures</frontName>
				</args>
			</blogfeatures>
		</routers>
	</frontend>
	<global>
		<models>
			<blogfeatures>
				<class>Codazon_Blogfeatures_Model</class>
			</blogfeatures>
			<blog>
				<rewrite>
					<blog>Codazon_Blogfeatures_Model_Blog</blog>
					<post>Codazon_Blogfeatures_Model_Post</post>
				</rewrite>
			</blog>
		</models>
		<helpers>
			<blogfeatures>
				<class>Codazon_Blogfeatures_Helper</class>
			</blogfeatures>
		</helpers>
		<blocks>
			<blogfeatures>
				<class>Codazon_Blogfeatures_Block</class>
			</blogfeatures>
			<blog>
				<rewrite>
					<manage_blog_edit_tab_form>Codazon_Blogfeatures_Block_Blog_Manage_Blog_Edit_Tab_Form</manage_blog_edit_tab_form>
					<manage_blog_edit_form>Codazon_Blogfeatures_Block_Blog_Manage_Blog_Edit_Form</manage_blog_edit_form>
					<menu_sidebar>Codazon_Blogfeatures_Block_Menu_Sidebar</menu_sidebar>
					<!--blog>Codazon_Blogfeatures_Block_Blog</blog>
					<cat>Codazon_Blogfeatures_Block_Cat</cat-->
				</rewrite>
			</blog>
		</blocks>
		<resources>
			<blogfeatures_setup>
				<setup>
					<module>Codazon_Blogfeatures</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</blogfeatures_setup>
			<blogfeatures_write>
				<connection>
					<use>core_write</use>
				</connection>
			</blogfeatures_write>
			<blogfeatures_read>
				<connection>
					<use>core_read</use>
				</connection>
			</blogfeatures_read>
		</resources>
	</global>
	<admin>
		<routers>
            <adminhtml>
                <args>
                    <modules>
                        <blogfeatures before="AW_Blog_Adminhtml">Codazon_Blogfeatures_Adminhtml</blogfeatures>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>
    <default>
        <blog>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
                <left>1</left>
                <right>1</right>
                <recent>6</recent>
            </menu>
        </blog>
    </default>
</config>
