<?xml version="1.0"?>

<config>
    <modules>
        <LA_Postcode>
            <version>0.1.1</version>
        </LA_Postcode>
    </modules>
    <frontend>
        <routers>
            <postcode>
                <use>standard</use>
                <args>
                    <module>LA_Postcode</module>
                    <frontName>postcode</frontName>
                </args>
            </postcode>
        </routers>
        <layout>
            <updates>
                <postcode>
                    <file>postcode.xml</file>
                </postcode>
            </updates>
        </layout>
        <translate>
            <modules>
                <LA_Postcode>
                    <files>
                        <default>LA_Postcode.csv</default>
                    </files>
                </LA_Postcode>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <postcodeadmin>
                <use>admin</use>
                <args>
                    <module>LA_Postcode</module>
                    <frontName>postcodeadmin</frontName>
                </args>
            </postcodeadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <postcode>
                    <file>postcode.xml</file>
                </postcode>
            </updates>
        </layout>
        <translate>
            <modules>
                <LA_Postcode>
                    <files>
                        <default>LA_Postcode.csv</default>
                    </files>
                </LA_Postcode>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <postcode>
                <class>LA_Postcode_Model</class>
                <resourceModel>postcode_mysql4</resourceModel>
            </postcode>
            <postcode_mysql4>
                <class>LA_Postcode_Model_Mysql4</class>
                <entities>
                    <postcode>
                        <table>postcode</table>
                    </postcode>
                </entities>
            </postcode_mysql4>
        </models>
        <resources>
            <postcode_setup>
                <setup>
                    <module>LA_Postcode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </postcode_setup>
            <postcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </postcode_write>
            <postcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </postcode_read>
        </resources>
        <blocks>
            <postcode>
                <class>LA_Postcode_Block</class>
            </postcode>
        </blocks>
        <helpers>
            <postcode>
                <class>LA_Postcode_Helper</class>
            </postcode>
        </helpers>
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <add_condition_to_sales_rule>
                        <class>postcode/observer</class>
                        <method>addConditionToSalesRule</method>
                    </add_condition_to_sales_rule>
                </observers>
         </salesrule_rule_condition_combine>
        </events>
    </global>
    <default>
        <postcode>
            <general>
                <enabled>1</enabled>
            </general>
        </postcode>
    </default>
</config>