<config>
	<modules>
		<Codazon_Quickviewpro>
			<version>0.1.0</version>
		</Codazon_Quickviewpro>
	</modules>
	<global>
        <models>
            <quickviewpro>
                <class>Codazon_Quickviewpro_Model</class>
            </quickviewpro>
        </models>
		<helpers>
			<quickviewpro>
				<class>Codazon_Quickviewpro_Helper</class>
			</quickviewpro>
		</helpers>
		<blocks>
            <quickviewpro>
                <class>Codazon_Quickviewpro_Block</class>
            </quickviewpro>
        </blocks>
	</global>
	<frontend>
		<routers>
            <quickviewpro>
                <use>standard</use>
                <args>
                    <module>Codazon_Quickviewpro</module>
                    <frontName>quickviewpro</frontName>
                </args>
            </quickviewpro>
        </routers>
		<translate>
            <modules>
                <Codazon_Quickviewpro>
                    <files>
                        <default>Codazon_Quickviewpro.csv</default>
                    </files>
                </Codazon_Quickviewpro>
            </modules>
        </translate>
        <layout>
            <updates>
                <quickviewpro>
                    <file>codazon_quickviewpro.xml</file>
                </quickviewpro>
            </updates>
        </layout>
	</frontend>
    <adminhtml>
        <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							 <children>
								<config>
									<children>
										<cdz_ajax_block translate="title" module="quickviewpro">
											<title>Ajax Block Configuration</title>
											<sort_order>999</sort_order>
										</cdz_ajax_block>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <menu>
            <codazon>
                <title>Codazon</title>
                <sort_order>200</sort_order>
                <children>
                    <cdz_ajax_block module="megamenupro">
                        <title>Ajax Cart</title>
                        <sort_order>120</sort_order>
                        <action>adminhtml/system_config/edit/section/cdz_ajax_block</action>
                    </cdz_ajax_block>
                </children>
            </codazon>
		</menu>
    </adminhtml>
    <default>
        <cdz_ajax_block>
            <ajax_cart>
                <enable>1</enable>
                <update_blocks><![CDATA[a:2:{s:2:"id";a:1:{i:0;s:17:".minicart-wrapper";}s:3:"xml";a:1:{i:0;s:16:"minicart_content";}}]]></update_blocks>
            </ajax_cart>
            <ajax_wishlist>
                <enable>1</enable>
                <update_blocks><![CDATA[a:2:{s:2:"id";a:1:{i:0;s:21:".block.block-wishlist";}s:3:"xml";a:1:{i:0;s:19:"mini.wishlist_panel";}}]]></update_blocks>
            </ajax_wishlist>
            <ajax_compare>
                <enable>1</enable>
                <update_blocks><![CDATA[a:2:{s:2:"id";a:1:{i:0;s:20:".block.block-compare";}s:3:"xml";a:1:{i:0;s:23:"catalog.compare.sidebar";}}]]></update_blocks>
            </ajax_compare>
        </cdz_ajax_block>
    </default>
</config> 