<?xml version="1.0"?>
<config>
    <sections>
        <cdz_ajax_block translate="label" module="quickviewpro">
            <label>Ajax Block Configuration</label>
            <comment>This extension was developed by Codazon</comment>
            <tab>codazon</tab>
            <frontend_type>text</frontend_type>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <ajax_cart translate="label">
                    <label>Ajax Cart</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <enable translate="label">
                            <label>Enable Ajax Cart</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enable Using Ajaxcart</comment>
                        </enable>
                        <update_blocks translate="label">
                            <label>XML of Update Blocks</label>
                            <comment>insert HTML parent tag ID of block to be updated</comment>
                            <frontend_model>quickviewpro/adminhtml_url</frontend_model>
                            <backend_model>quickviewpro/system_config_backend_serialized_array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </update_blocks>
                    </fields>
                </ajax_cart>
                <ajax_wishlist>
                    <label>Ajax Wishlist</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <enable translate="label">
                            <label>Enable Ajax Wishlist</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enable Using Ajax Wishlist</comment>
                        </enable>
                        <update_blocks translate="label">
                            <label>XML of Update Blocks</label>
                            <comment>insert HTML parent tag ID of block to be updated</comment>
                            <frontend_model>quickviewpro/adminhtml_url</frontend_model>
                            <backend_model>quickviewpro/system_config_backend_serialized_array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </update_blocks>
                    </fields>
                </ajax_wishlist>
                <ajax_compare>
                    <label>Ajax Compare</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <enable translate="label">
                            <label>Enable Ajax Compare</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enable Using Ajax Compare</comment>
                        </enable>
                        <update_blocks translate="label">
                            <label>XML of Update Blocks</label>
                            <comment>insert HTML parent tag ID of block to be updated</comment>
                            <frontend_model>quickviewpro/adminhtml_url</frontend_model>
                            <backend_model>quickviewpro/system_config_backend_serialized_array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </update_blocks>
                    </fields>
                </ajax_compare>
            </groups>
        </cdz_ajax_block>
    </sections>
</config>